[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=xterm -e "feh -x --auto-rotate -draw-filename --draw-tinted --scale-down --start-at %f"
Name="feh (sensible)"
Comment=Custom definition for "feh"
